// Colors
//Primary
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$BrigthCyan: hsl(192, 70%, 51%);

//Neutral
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);


// Font Sizes Mobile
$font-nm: 0.875rem; // 18px

$font-lg: 2rem; // 18px
$font-xl: 2.25rem; //32px

// Font Sizes Desktop

$font-sl-dt: 0.675rem; //14px

$font-sm-dt: 0.875rem; //14px
$font-nm-dt: 1.125rem; // 18px

$font-lg-dt: 2.875rem; //32px
$font-xl-dt: 3.125rem; //32px